<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styleSearch.css') }}"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wyszukiwarka studenta</title>
    </head>
    <body>
        <div class="mainDiv">
            <h1><a id="noAnchor" href="/">Bing be like</a></h1>
            <form action="/search" method="get">
                <div class="inputDiv">
                    <input type="text" name="q" value="{{ input_string }}" />
                    <button type="submit">Submit</button>
                    <p>Specify how many documents you want to see:</p>
                    <input type="text" name="outputSize" style="width: 10%" value="{{ outputSize }}" />
            
                    <p>Use SVD: <input type="checkbox" name="use_svd" {% if use_svd %} checked {% endif %}></p>
                    
                </div>
            </form>
            <br /><br />
            {% if links %}
            <h2>Search results</h2>
            <h3>Response time: {{ response_time }}</h3>
            <br />
            <ul>
                {% for link in links %}
                <li>
                    <p>[{{ link.value }}]</p>
                    <a href="{{ link.url }}">{{ link.url }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </body>
</html>
